.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-md);
  font-family: var(--font-body);
  font-size: var(--font-size-md);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  gap: var(--spacing-xs);
  height: 42px;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.buttonPrimary {
  background-color: var(--clr-primary-green);
  color: var(--clr-text-on-primary);
  border-color: var(--clr-primary-green);
}

.buttonPrimary:not(:disabled):hover,
.buttonPrimary:not(:disabled):focus {
  background-color: var(--clr-primary-green-darker);
  color: var(--clr-text-on-primary);
  border-color: var(--clr-primary-green-darker);
}

.buttonSecondary {
  background-color: var(--clr-neutral-white);
  color: var(--clr-primary-green);
  border-color: var(--clr-primary-green);
}

.buttonSecondary:not(:disabled):hover,
.buttonSecondary:not(:disabled):focus {
  background-color: var(--clr-primary-green);
  color: var(--clr-text-on-primary);
  border-color: var(--clr-primary-green);
}

.buttonIcon {
  padding: var(--spacing-xs);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: var(--spacing-xs);
  margin-right: -12px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.icon:hover,
.icon:focus {
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.3s ease;
}

.buttonText {
  background: none;
  border: none;
  color: var(--clr-primary-green);
  padding: 0;
}

.buttonText:hover,
.buttonText:focus {
  text-decoration: underline;
}

.icon {
  display: flex;
  align-items: center;
}